.contact {
    display: flex;
    padding: 50px 0;
    color: #343a40;
}

.heading {
    flex: 1;
    display: flex;
    align-items: center;
}

.heading span {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.contact .row {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

form {
    max-width: 400px;
    width: 100%;
    margin: auto;
}


.image {
    flex: 0; /* Không chiếm không gian nhiều */
}

.image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
    .contact {
        flex-direction: column; /* Điều chỉnh thành cột khi kích thước màn hình nhỏ */
    }

    .image,
    .contact .row {
        flex: 1; /* Cả hai chiếm 100% width */
        margin-right: 0; /* Loại bỏ margin khi chuyển sang chiều dọc */
    }
}


.text-overlay {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.box {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.btn {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
